*~
*.elc
.cask
.DS_Store
ac-comphist.dat
auto-save-list
ede-projects.el
el-get
elpa
personal/auto-snippets
recentf
savefile
savehist
saveplace
semanticdb
skewer-cache
swank
url
/.newsrc
/.newsrc.eld
/.smex-items
/abbrev_defs
/oauth2.plstore
/places
/projectile-bookmarks.eld
/srecode-map.el
/tramp
/var/pcache/gh/gh-gist-api/shosti
/bookmarks
/projectile.cache
/.newsrc-dribble
/hipchat/(bobby).png
/hipchat/(coupa).png
/hipchat/(david).png
/hipchat/(eddy).png
/hipchat/(emanuel).png
/hipchat/(fung).png
/hipchat/(jimmy).png
/hipchat/(micah).gif
/hipchat/(rob).jpg
/eshell/
/request/curl-cookie-jar
/tetris-scores
/ido.last
/jabber-avatar-cache/
/snippets/git-commit-mode/
/var/
/.sx/
/rake.cache
/company-statistics-cache.el
/bbdb
/emms
