*~
*.elc
.cask
.DS_Store
ac-comphist.dat
auto-save-list
ede-projects.el
el-get
elpa
eshell/history
eshell/lastdir
personal/auto-snippets
recentf
savefile
savehist
saveplace
semanticdb
skewer-cache
swank
url
/.newsrc
/.newsrc.eld
/.smex-items
/abbrev_defs
/oauth2.plstore
/places
/projectile-bookmarks.eld
/srecode-map.el
/tramp
/var/pcache/gh/gh-gist-api/shosti
