*~
*.elc
auto-save-list
recentf
savehist
saveplace
personal/eshell/history
personal/eshell/lastdir
personal/auto-snippets
elpa
el-get
semanticdb
savefile
url
ede-projects.el
.DS_Store
ac-comphist.dat
swank
/abbrev_defs
/tramp
/oauth2.plstore
/srecode-map.el
/.smex-items
/places
